<section class="container content-section">
    <h2 class="section-header">{{title}}</h2>
<p>On April 28, 2021, NASA's Parker Solar Probe reached the sun's extended solar atmosphere, known as the corona, and spent five hours there. The spacecraft is the first to enter the outer boundaries of our sun.</p>

<p>"This marks the achievement of the primary objective of the Parker mission and a new era for understanding the physics of the corona," said Justin C. Kasper, the first author, Deputy Chief Technology Officer at BWX Technologies, and a professor at the University of Michigan. The mission is led by the Johns Hopkins University Applied Physics Laboratory (JHU/APL).</p>
    
<p> The probe made the first direct observations of what lies within the sun's atmosphere, measuring phenomena previously only estimated.</p>
</section>
