
<section class="container content-section">
    <h2 class="section-header">{{title}}</h2>
    <ul>
        <li>
            <img src = "../../assets/images/News.jpg">
            <p>Text-in-a-box more text  more text  more text</p>
        </li>
        <li>
            <img src = "../../assets/images/News.jpg">
            <p>Text-in-a-box more text  more text  more text</p>
        </li>
        <li>
            <img src = "../../assets/images/News.jpg">
            <p>Text-in-a-box more text  more text  more text</p>
        </li>
    </ul>
</section>
