
<section class="container content-section">
    <h2 class="section-header">{{title}}</h2>
    <br>
    <br>
    <br>
    <ul>
        <li>
            <img routerLink="medicine" src = "../../assets/images/medicine.jpg">
            <p routerLink="medicine">News in medicine - Robots in medicine</p>
        </li>
        <li>
            <img routerLink="ai" src = "../../assets/images/AI.jpg">
            <p routerLink="ai">News in AI - Github Copilot for VS Code</p>
        </li>
        <li>
            <img routerLink="science" src = "../../assets/images/science.jpg">
            <p routerLink="science">News in science - Touching the sun</p>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
</section>
