
<section class="container content-section">
    <h2 class="section-header">{{title}}</h2>
    <ul>
        <li>
            <a routerLink="medicine"><img routerLink="medicine" src = "../../assets/images/medicine.jpg"></a>
            <p routerLink="medicine">News in medicine - Robots in medicine</p>
        </li>
        <li>
            <img routerLink="ai" src = "../../assets/images/AI.jpg">
            <p routerLink="ai">News in AI - Github Copilot for VS Code</p>
        </li>
        <li>
            <img src = "../../assets/images/science.jpg">
            <p>News in science</p>
        </li>
    </ul>
</section>
