<section class="container content-section">
    <h2 class="section-header">{{title}}</h2>
<p>In 2000, the da Vinci Surgical System became the first robotic surgical platform commercially available in the United States to be cleared by the FDA for use in general laparoscopic surgery. Today, robotic-assisted surgery with the daVinci Surgical System allows surgeons to perform complex minimally invasive surgical procedures with precision and accuracy. The system is an advanced robotic platform designed to expand the surgeon’s capabilities and offer an option to open surgery.
he da Vinci System has been successfully used in tens of thousands of procedures. Its safety and efficacy are documented in clinical publications and the literature supporting its use is extensive.</p>
</section>
